In [1]:
import numpy as np
from time import time
import pandas as pd

Функция *CPU_pi_calc* принимает на вход кол-во случайных точек для подсчета чилса **Pi** на CPU

In [2]:
def CPU_pi_calc(N):
    x = np.random.uniform(size=N)
    y = np.random.uniform(size=N)
    z = x ** 2 + y ** 2
    z = z <= 1
    z = sum(z)
    res = 4.0 * z / N
    return res

Создаём DataFrame из библиотеки pandas для наглядного отображения результата

In [3]:
iteration_count = np.arange(1,9,1)

df = {"CPU time, second":np.zeros(len(iteration_count), dtype=float),
      "CPU Pi value":np.zeros(len(iteration_count), dtype=float),
      "Amount of points":np.zeros(len(iteration_count), dtype=float)}

df = pd.DataFrame(df, index=iteration_count)

Проводим 8 экспериментов начиная от 1.000 точек с шагом 400.000 для наглядного разници времени выполнения

In [4]:
N = 1_000

for i in iteration_count:
    cpu_start = time()
    cpu_pi = CPU_pi_calc(N).mean()
    cpu_time = time() - cpu_start
    
    df.loc[i, "CPU time, second"] = cpu_time
    df.loc[i, "CPU Pi value"] = cpu_pi
    df.loc[i, "Amount of points"] = N
    
    N += 400_000

df

   CPU time, second  CPU Pi value  Amount of points
1          0.004992      3.216000            1000.0
2          1.429446      3.145327          401000.0
3          2.929887      3.141648          801000.0
4          3.591557      3.141905         1201000.0
5          3.190790      3.140227         1601000.0
6          4.122735      3.140096         2001000.0
7          4.747301      3.141521         2401000.0
8          5.620776      3.142345         2801000.0